@font-face {
    font-family: 'Monoton';
    src: url(https://fonts.googleapis.com/css?family=Monoton);
    font-weight:400;
}

.about {
  display: flex;
  align-items: flex-start;
  border-left: 10px solid yellow;
  margin-bottom: 2rem;
}
.story {
  padding-left: 1rem;
}
.profile {
  margin-top: 20%;
  border-bottom: 5px solid yellow;
}
