.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  border-left: 10px solid yellow;
  margin-bottom: 2rem;
}
.story {
  padding-left: 1rem;
}
.profile {
  float: right;
  height:18rem;
  margin-top: 10%;
  border-bottom: 5px solid yellow;
}

@media (max-width: 490px) {
  .profile {
    display: none;
  }
}
