.resumeContainer {
  border-left: 10px solid rgb(64, 41, 168);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;

}

.resume{
  padding-left: 1rem;
}

.resumeHeader {
  font-weight: lighter;
}

.resumeSection {
  font-size: .99rem;
  padding-left: 1rem;
  flex-basis: 100%;
}

.resumeSection strong {
  display: block;
}

.project strong{
  font-size: 1.2rem;
  font-family: serif;
  font-weight: 400;
}

.jobs strong {
  display: inline;
  font-size: 1.2rem;
  font-family: serif;
  font-weight: 400;
}

.education {
  font-weight: bolder;
}

.resumeButton {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-left: auto;
  margin-right: auto; */
}

@media (max-width:490px) {
  .resumeContainer {
    width: 50%;
    font-size: .5rem;
  }
  .resumeButton {
    font-size: 1rem;
    width: 100%;
    flex-basis: 100%;
    margin-left: 60%;
    white-space: nowrap;
  }
}
