.singleProjectContainer {
  margin: 2rem 0 1.5rem 0;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.techStack {
  font-family: monospace;
  margin-left: 1rem;
}

.projectDescripion {
  font-size: 1rem;
}

.img {
  height: 100%;
}
